.item-count{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}
.item-count-items{
    width: 145px;
    display: flex;
    justify-content: space-around;
}
